{% extends 'stima/base/base.html' %}
{% load static %}
  
{% block title %} STIMA.ME {% endblock %}

{% block body %}
  <!-- Showcase -->
  <header class="showcase w3-display-container w3-grayscale-min w3-border-black w3-bottombar" id="home">
      
    <div class="w3-display-middle w3-card w3-black w3-border-white w3-rightbar w3-leftbar w3-topbar w3-bottombar">
      
      <div class="header w3-center">

        <img class="w3-image" width="16%" height="16%" src="{% static 'stima/img/stimameIcon.png' %}">
        <h1 class="w3-xxxlarge w3-text-white">STIMA.ME</h1>
        
      </div>

      <!-- Search bar -->
      <div class="w3-bar w3-black w3-xlarge">

        <form method=POST action="{% url 'stima-score' %}">
          {% csrf_token %}
          <input type="text" size="44" class="w3-bar-item w3-input" placeholder="🔍 Ingresa el nombre del juego" name="score">
          <button class="w3-button w3-gray" type="submit">Stima</button>
        </form>

      </div>
    </div>


  </header>
  
{% endblock %}

