{% extends 'stima/base/search.html' %}
{% load static %}
  
{% block title %} STIMA.ME - StimaCash {% endblock %}

<!-- Table headers -->
{% block tableHeaders %}
  <thead>
    <tr class="w3-black w3-large">
      <th>ID</th>
      <th></th>
      <th></th>
      <th class="w3-center">Kongpletos</th>
      <th class="w3-center">Choripanes</th>
      <th class="w3-center">Empanadas</th>
      <th class="w3-dark-grey w3-center">Días en Beauchef</th>
    </tr>
  </thead>
{% endblock %}

<!-- Table rows -->
{% block tableRows %}
  <tr class="w3-large">
    <td>id</td>
    <td><img src="https://steamcdn-a.akamaihd.net/steam/apps/10/header.jpg?t=1528733245" height=64.5 width=138></img></td>
    <td><a href="https://stimame.herokuapp.com/game/10">Counter-Strike</a></td>
    <td class="w3-center">kongpletos</td>
    <td class="w3-center">choripanes</td>
    <td class="w3-center">empanadas</td>
    <td class="w3-grey w3-center">dias</td>
  </tr>
{% endblock %}