{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'stima/styles/styles.css' %}">
        <title>{% block title %} STIMA.ME {% endblock %}</title>
        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: Oswald, serif;}
        
            body, html {
            height: 100%;
            line-height: 1.8;
            }
        </style>
    </head>
    <body>
        <!-- Navigation -->
        <div class="w3-top">
            <div class="w3-bar w3-black w3-card w3-xlarge w3-border-white w3-bottombar" id="myNavbar">
        
                <!-- Stimame logo -->
                <a href="http://grupo02.cc3201.dcc.uchile.cl/#home" class="w3-bar-item w3-button w3-wide">STIMA.ME</a>
        
                <!-- Right links -->
                <div class="w3-right w3-mobile">
                    <a href="http://grupo02.cc3201.dcc.uchile.cl/#nani" class="w3-bar-item w3-button">Nani!?</a>
                    <a href="http://grupo02.cc3201.dcc.uchile.cl/#steamdex" class="w3-bar-item w3-button">SteamDex</a>
                    <a href="http://grupo02.cc3201.dcc.uchile.cl/#team" class="w3-bar-item w3-button">Team</a>
                </div>
            </div>
        </div>

        {%block body %} {% endblock %}

        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-64">
            <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>STIMA.ME</a>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a> and <a href="https://www.djangoproject.com/" title="djangoproject" target="_blank" class="w3-hover-text-green"> Django </a></p>    
        </footer>
    </body>
</html>